@import "../../../Variables.scss";
.hero {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  background-attachment: fixed;
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
  }
  & > * {
    position: relative;
    z-index: 5;
  }
  &_content {
    p {
      font-size: 20px;
      color: $line;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 5px;
      text-align: center;
      margin-top: 100px;
    }
    h3 {
      font-size: 120px;
      text-align: center;
      color: white;
      letter-spacing: 10px;
      text-transform: uppercase;
      font-family: "Neuton";
    }
  }
  &_subtitle {
    font-size: 160px;
    line-height: 130px;
    background-clip: text;
    background-position: center;
    background-attachment: fixed;
    color: transparent;
    font-style: italic;
  }
  &_scroll-down {
    height: 70px;
    width: 10px;
    position: absolute;
    bottom: 60px;
    &:before {
      content: "";
      position: absolute;
      width: 3px;
      background: $line;
      top: 0;
      left: 50%;
      transform: translate(-50%, 0);
      animation: lineSize 4s ease infinite;
    }
    @keyframes lineSize {
      0% {
        height: 40%;
      }
      50% {
        height: 100%;
      }
      100% {
        height: 40%;
      }
    }
    &:after {
      content: "SCROLL";
      font-family: "Roboto Mono";
      position: absolute;
      font-weight: 600;
      letter-spacing: 5px;
      bottom: 0;
      font-size: 15px;
      left: 50%;
      transform: translate(-50%, 150%);
      color: $line;
    }
  }
}
@media screen and (max-width: 991px) {
  .hero_content h3 {
    font-size: 70px;
  }
  .hero_subtitle {
    font-size: 80px;
  }
}
@media screen and (max-width: 767.98px) {
  .hero_content p {
    margin-top: 0;
  }
  .hero_content h3 {
    font-size: 60px;
  }
  .hero_subtitle {
    font-size: 80px;
    text-align: center;
  }
  .hero_scroll-down {
    display: none;
  }
}

@media screen and (max-width: 383px) {
  .hero_content h3 {
    font-size: 40px;
  }
  .hero_subtitle {
    font-size: 60px;
  }
}
